[Desktop Entry]
Name=JShell
Comment=SSH、SFTP 与本地终端工作区
Exec=jshell
Icon=jshell
Terminal=false
Type=Application
Categories=System;TerminalEmulator;Utility;
StartupWMClass=jshell
